<div class='d-flex align-item-center justify-content-center'>
<h1>This is Home Page</h1>
<button onclick="showMessage()">Click Me</button>

<script>
  function showMessage() {
    alert("Hello from JavaScript in Rails!");
  }
</script>
</div>
